<head>
<link rel="stylesheet"  type="text/css" href="/stylesheets/signedin.css">
</head>
<h1> Add a new assignment </h1>
<%= form_for(@assignment) do |f| %>

    <div class="form-group">
      <%= f.label :course_name, "Class:" %>
  
      <%= f.collection_select :course_name, current_user.courses, :course_name, :course_name, prompt: "Please select your class from this dropdown" %>
    </div>

    <%= f.label :assignment_type, "Assignment Type:" %><br>
    <%= f.text_field :assignment_type %><br>

    <%= f.label :assignment_name, "Assignment Name:" %><br>
    <%= f.text_field :assignment_name %><br>

    <%= f.label :instructions, "Assignment Instructions:" %><br>
    <%= f.text_area :instructions %><br>

    <%= f.label :due_date, "Due Date" %><br>
    <%= f.date_field :due_date %> <br><br>

    <%= f.hidden_field :user_id, :value => session[:user_id] %>

    
    <%= f.submit %>
    <% end %><br><br>
    <a href="/users/<%=current_user.id%>">Click here to return to your homepage </a>