<head>
<link rel="stylesheet"  type="text/css" href="/stylesheets/signedin.css">
</head>
<h1> Add a new class </h1>
<%= form_for(@course) do |f| %>
  <%= f.label :course_name, "Class Name:" %>
  <%= f.text_field :course_name %><br>

  <%= f.label :teacher_name, "Teacher:" %>
  <%= f.text_field :teacher_name %><br>

  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  
  <%= f.submit %>
  <% end %>

